# Model and checkpoint files
*.pt
*.pth

# Audio and video files
*.wav
*.mp3
*.mp4
*.m4a
*.flac
*.ogg

*.DS_Store
venv/

__pycache__/
*.pyc

# Generated transcripts and recordings
saved_data/


# Electron build & deps
electron/node_modules/
electron/dist/
electron/build/

# npm logs
npm-debug.log*
yarn-error.log*

# IDE settings
.vscode/
.idea/

# Environment files
.env
